@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

*{
    font-family: "Nunito", sans-serif;
}
.mycontainer{
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
@theme {
  --breakpoint-xs: 280px;
  --breakpoint-xr: 450px;
  --breakpoint-xe: 550px;
  --breakpoint-xd: 900px;
  --breakpoint-xm: 800px;
  --breakpoint-sl: 650px;
}